.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(var(--length), 3.5em);
  grid-template-rows: repeat(7, 3.5em);
  gap: 0.2em;
  margin-bottom: 0.25em;
}
